<div class="container-fluid d-flex justify-content-center align-items-center bg-primary-subtle mainbody"
    style="min-height: 100vh;">
    <div class="card p-5 w-50 overflow-hidden ">
        <div class="card-title  d-flex justify-content-center ">
            <label class="loginpagetitle">Login Page</label>
        </div>
        <form>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    autocomplete=off>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" autocomplete=off>
            </div>

            <div class="button   d-flex justify-content-end ">
                <a type="submit" class="btn btn-primary btn-lg mx-2 " href="/u/register">Go Register</a>
                <button type="submit" class="btn btn-primary btn-lg ">Login</button>
            </div>
        </form>
    </div>
</div>