<div class="topmenuwrapper">
    <p-menubar [model]="main_manu_item" class="" [autoDisplay]="false">
        <ng-template pTemplate="start" class="align-self-auto " >
            <img routerLink="boardshome" src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="30" class="mx-2 main_logo_img" />
        </ng-template>
        <ng-template pTemplate="end">
            <input type="text" class="form-control mx-2" id="searchitems" pInputText placeholder="Search" />
            <div class="usermenuwrapper d-flex align-items-center ">
                <p-tieredMenu #menu [model]="user_menu" [popup]="true"></p-tieredMenu>
                <button class="CurruntUser p-1  align-self-center d-flex " (click)="menu.toggle($event)">
                    <label id="cuser">HO</label>
                </button>
            </div>
        </ng-template>

    </p-menubar>
</div>