<div class="container-fluid">
    <div class="row ">
        <div class="col menubar">
            <app-top-menubar></app-top-menubar>
        </div>
    </div>
    <div class="row  mainbody ">
        <div class="col sidebar" *ngIf="isSidebar">
            <app-side-menubar (clsoesidebar)="for_closeSideBar()"></app-side-menubar>
        </div>
        <span class="sidebaropenbtn   col" *ngIf="!isSidebar" (click)="for_closeSideBar()">
            <button class="btn btn-primary " (click)="for_closeSideBar()"><i class="pi pi-arrow-right"></i></button>
        </span>
        <div class=" showdata">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>