:host
    height: 100%

.sidebar
    max-width: 300px

.menubar
    // padding: 0%

.col
    padding: 0%
    margin: 0%

.closebutton
    max-width: 2px
    background-color: #345

.mainbody
    height: 885px

.closebutton
    z-index: 100

    i
        background-color: #000
        color: #fff
        padding: 3px
        border-top-right-radius: 50%
        border-bottom-right-radius: 50%
        &:hover
            cursor: pointer
