<div class="mainclassofboards placeholder-wave "
    style="height:94.6vh;background-image: url('../../../assets/images/1.png');background-size: cover;background-position: center; width: 100%;">
    <div class="boardmenuwrapper">
        <p-menubar class="">
            <ng-template pTemplate="start" class="">
                <div class="boardtitle">
                    <label>Todos Project</label>
                </div>

                <button class="Favorite  " (click)="onclickfavorite()">
                    <i [class]="isfavorite?'pi pi-star':'pi pi-star-fill'" ></i>
                </button>

                <div class="WorkSpace">
                    <button class="m-1 p-1 " (click)="on_workspace_dialog_show()"><i class="pi pi-fw pi-user"></i> Workspace</button>
                </div>

            </ng-template>
            <ng-template pTemplate="end">
                <button class=" p-1  align-self-center d-flex board_friendlist ">
                    <label id="boardusers" class="boardmembers">HO</label>
                </button>

                <!-- board setting button -->
                <div class="board_settingmenuwrapper">
                    <button class=" mx-2 p-2  align-self-center d-flex boardsetting" (click)="board_menu.toggle($event)">
                        <i class="pi pi-ellipsis-h"></i>
                    </button>
                    
                    <!-- setting button menu-dialogbox -->
                    <p-tieredMenu #board_menu [model]="b_setting_menu_item" [popup]="true"></p-tieredMenu>
                </div>

            </ng-template>
        </p-menubar>
    </div>
    <div class="show_board_lists   d-flex overflow-auto   ">

        <div class="list_info my-3 mx-2  " *ngFor="let item of todolists$">
            <app-todolists [curruntlist]="item "></app-todolists>
        </div>


        <div class=" my-3 mx-2">
            <button class="btn btn-outline-secondary d-flex flex-row justify-content-center  addlistbutton"
                (click)="showDialog()">
                <i class="pi pi-plus addlisttag"></i>
               Add New List
            </button>

            <!-- add todolist dialog box -->
            <p-dialog header="Add New List" [modal]="true" [dismissableMask]="true" [(visible)]="addtodolistvisible" [draggable]="false" 
            [style]="{ width: '30vw' }" >
                
                <div>
                    <form [formGroup]="todolistform" (ngSubmit)="ontodolistsubmit()">
                        <div class="mb-3">
                            <label for="exampleInputtitle" class="form-label">Add List Name</label>
                            <input type="email" autocomplete="off" class="form-control" id="exampleInputtitle"
                                formControlName="todolistname" aria-describedby="emailHelp">
                        </div>
                        <div class="button d-flex justify-content-end">
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </form>
                </div>

            </p-dialog>

            <!-- workspace dialogbox code -->
            <p-dialog header="All WorkSpace" [(visible)]="show_workspace" [draggable]="false" 
            [style]="{width: '20vw'}" [modal]="true" [dismissableMask]="true">
                <h3>
                    feature comming soon
                </h3>
            </p-dialog>
        </div>
    </div>
</div>