<div class="sidebar " *ngIf="is_sidebar_show">

  <!-- Sidebar top menu for Workspace -->
  <p-menu class="" [model]="sidebar_menu_item"></p-menu>

  <!-- Add board button -->
  <div class="addBoardbtn">
    <button class="btn btn-primary" (click)="on_addBoard_click()">
      <i class="pi pi-plus"></i>
    </button>
  </div>

  <!-- Archive undo list Button -->
  <p-dialog header="Archived TodoLists" [(visible)]="archive_list_visible" [modal]="true" [dismissableMask]="true"
    [style]="{width: '30vw', height: '30vw'}">
    <div class="card p-2 d-flex flex-row justify-content-between my-2 bg-success-subtle" *ngFor="let item of todolists">
      <div class="todolistitem">{{ item.name }}</div>
      <button class="revertArchive bg-transparent border-0" (click)="undo_Archive(item)">
        <i (click)="undo_Archive(item)" class="pi pi-undo"></i>
      </button>
    </div>
  </p-dialog>

  <!-- Add Board Button Dialog box -->
  <p-dialog header="Add Board In Workspace" [modal]="true" [dismissableMask]="true" [(visible)]="on_add_board"
    [style]="{width: '30vw'}">
    
    <form [formGroup]="newboardform" (ngSubmit)="onboard_submit()">
      <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Add List Name</label>
          <input type="email" autocomplete="off" class="form-control" id="exampleInputEmail1"
              formControlName="newboardname" aria-describedby="emailHelp">
      </div>
      <div class="sbutton d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>

  </p-dialog> 

  <!-- Sidebar close button -->
  <div class="sidebarclosebtn sticky-bottom top-100">
    <button class="btn btn-primary" (click)="onsidebarclose()">
      <i class="pi pi-arrow-left"></i>
    </button>
  </div>
</div>