$HoverColor: #3a277db6

:host
  .sidebar
    background-color: #e0dbf0 
    height: 94.6vh

    .menu
      list-style: none
      display: flex
      flex-direction: column
      padding: 0
    .menuitem
      padding: 10px
      &:hover
        background-color: $HoverColor

    .textlable
      font-size: 19px
      font-weight: 700
      margin-left: 10px

    .boardaddtitle
      display: flex
      align-items: center

    .addboardclass
      margin-right: 10px
      padding: 5px
      &:hover
        background-color: $HoverColor

    .addbutton
      &:hover
        cursor: pointer

    .downmenu
      list-style: none
      padding: 0
      margin-bottom: 0

    .downmenuitem

      padding: 10px
      &:hover
        background-color: $HoverColor

    .downitem
      margin-left: 10px

// setting of archive menu
:host ::ng-deep
  .p-menu
    width: 100%
    padding: 0
    background-color:#e0dbf0 
    border: 0
    
      
  .p-menuitem-link
    text-decoration: none
    
    
  .p-menu-list
    margin-bottom: 0
    padding-left: 0

  .p-menuitem-text 
    color: #000
  .p-menuitem-icon 
    color: #000
  .p-menuitem-content
    &:hover
      background-color: $HoverColor

  

.revertArchive
  &:hover
    cursor: pointer

