$HoverColor: #3a277db6

:host
  .sidebar
    background-color: #e0dbf0 
    height: 94.6vh


// setting of archive menu
:host ::ng-deep
  .p-menu
    padding: 0
    background-color:#e0dbf0 
    border: 0
    
      
  .p-menuitem-link
    text-decoration: none
    

  .p-submenu-header
    background:#e0dbf0

  .p-menu-list
    margin-bottom: 0
    padding-left: 0

    
  .p-menuitem-link-active
    &:active
      
      background: $HoverColor

    

  .p-menuitem-text 
    color: #000
  .p-menuitem-icon 
    color: #000
  
   

  .p-menuitem-content
    
    &:hover
      background-color: $HoverColor

  

.revertArchive
  &:hover
    cursor: pointer

.sidebarclosebtn
  margin-left: 205px
  margin-bottom: 2px 



.addBoardbtn
  position: absolute
  top: 193px
  left: 205px
  button
    width: 20px
    height: 20px
    display: flex
    justify-content: center
    align-items: center
    background: #e0dbf0
    border: none
    &:hover
      background: #97949f
    i
      font-size: 15px
      color: #000