<div class="sidebar " style="background-color: #e0dbf0;height: 100vh;">
    <!-- sidebar top menu for Workspace -->
    <ul class="menu">
        <div class="menuitem" routerLink="boardshome">
            <li class="item">
                <i class="pi pi-th-large"></i>
                Boards
            </li>
        </div>
        <div class="menuitem" routerLink="boardsmembers">
            <li class="item">
                <i class="pi pi-users"></i>
                Members
            </li>
        </div>
        <!-- <div class="menuitem">
                <li class="item">
                <i class="pi pi-cog"></i>
                Workspace Setting
            </li>
        </div> -->
    </ul>


    <div class="boardaddtitle justify-content-between ">
        <label class="textlable"> Your Boards</label>
        <div class="addboardclass">
            <i class="pi pi-plus addbutton"></i>
        </div>
    </div>

    <div class="down">
        <ul class="downmenu">
            <div class="downmenuitem " routerLink="todos">
                <li class="downitem">
                    hitesh
                </li>
            </div>
        </ul>
    </div>

    <div class="boardaddtitle justify-content-between ">
        <label class="textlable"> Your Settings</label>
    </div>
    <div id="menu">
        <ul>
            <li class="submenu">Archived
                <ul>
                    <li>Archive Lists</li>
                    <li>Archive Card</li>
                </ul>
            </li>

        </ul>
    </div>
</div>