<div class="sidebar " >
    <!-- sidebar top menu for Workspace -->
    <ul class="menu">
        <div class="menuitem" routerLink="boardshome">
            <li class="item">
                <i class="pi pi-th-large"></i>
                Boards
            </li>
        </div>
        <div class="menuitem" routerLink="boardsmembers">
            <li class="item">
                <i class="pi pi-users"></i>
                Members
            </li>
        </div>
        <!-- <div class="menuitem">
                <li class="item">
                <i class="pi pi-cog"></i>
                Workspace Setting
            </li>
        </div> -->
    </ul>


    <div class="boardaddtitle justify-content-between ">
        <label class="textlable"> Your Boards</label>
        <div class="addboardclass">
            <i class="pi pi-plus addbutton"></i>
        </div>
    </div>

    <div class="down">
        <ul class="downmenu">
            <div class="downmenuitem " routerLink="todos">
                <li class="downitem">
                    hitesh
                </li>
            </div>
        </ul>
    </div>

    <div class="boardaddtitle justify-content-between ">
        <label class="textlable"> Your Settings</label>
    </div>
    <p-menu [model]="sidebar_menu_item"></p-menu>
    <p-dialog header="Archived TodoLists" [(visible)]="archive_list_visible" [style]="{width: '30vw'}">
        <div class="card p-2 d-flex flex-row justify-content-between my-2 bg-success-subtle " *ngFor="let item of todolists$">
           <div class="todolistitem">{{item.name}}</div>
           <div class="revertArchive" (click)="undo_Archive(item)">
                <i class="pi pi-undo"></i>
           </div>
        </div>
    </p-dialog>
</div>